<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH-Gtb2Kax2wh4DmLgielkkIGy137dTmE</string>
	<key>GCM_SENDER_ID</key>
	<string>898658824856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DenisDmitriev.GBShop</string>
	<key>PROJECT_ID</key>
	<string>gbshop-f89e6</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshop-f89e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898658824856:ios:46f85439b87bbaaa7f96ed</string>
</dict>
</plist>